@page "/counter"
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Not Counter or is it one?!</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string LoggedInUser = string.Empty;
    private bool IsUserLoggedIn;

    protected override void OnInitialized()
    {
        LoggedInUser = HttpContextAccessor.HttpContext?.Session.GetString("LoggedInUser");
        IsUserLoggedIn = !string.IsNullOrEmpty(LoggedInUser);

        if (!IsUserLoggedIn)
        {
            NavigationManager.NavigateTo("/login");
        }
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
