@page "/"
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using MudBlazor

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MudText Typo="Typo.h1">Hello, world!</MudText>



<p></p>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.TableChart" IconColor="Color.Primary" Size="Size.Large">All Statistics</MudButton>
<p></p>
<MudText Typo="Typo.h2">Your last Game</MudText>

@code{
    private string LoggedInUser => HttpContextAccessor.HttpContext.Session.GetString("LoggedInUser");
    private bool IsUserLoggedIn => !string.IsNullOrEmpty(LoggedInUser);
    private bool test = true;

}